@model ITBoostUp.BusinessLayer.Model.Country

<h1>Upadte Country</h1>
<form class="form-control" method="post">
    <div><input type="number" class="form-control" value="@Model.CountryId" asp-for="CountryId" readonly /></div>
    <div>
        <label>Country Name</label>
        <input type="text" class="form-control" value="@Model.CountryName" asp-for="CountryName" />
    </div>
    <div>
        <label>Country Description</label>
        <input type="text" class="form-control" value="@Model.CountryDescription" asp-for="CountryDescription" />
    </div>
    <div>
        <label>UpdateBy</label>
        <input asp-for="UpdatedBy" class="form-control" />
    </div>
    <div>
        <input type="submit" class="btn btn-danger" value="Submit" />
    </div>

</form>

